@{
    ViewData["Title"] = "Fancy Tool";
}

<div class="text-center">
    <h1 class="display-4">Fancy Tool</h1>
   
</div>

@section Scripts
{
    <script src="~/sw.js"></script>
    <script src="~/js/tool.js"></script>

    <script type="text/javascript">

        if ('serviceWorker' in navigator) {
            console.log('CLIENT: service worker registration in progress.');

            navigator.serviceWorker.register('../sw.js', { scope: '/' }).then(function (reg) {
                // console.log('CLIENT: service worker registration complete.');

                if(reg.installing) {
                  console.log('Service worker installing');
                } else if(reg.waiting) {
                  console.log('Service worker installed');
                } else if(reg.active) {
                  console.log('Service worker active');
                }

            }, function (error) {
                console.log('CLIENT: Registration failed with ' + error);
            });

        } else {
            console.log('CLIENT: service worker is not supported.');
        }

        document.addEventListener("DOMContentLoaded", function (event) {
            var page = new lib.FancyTool();
        });

    </script>
}